@layer component {

    .main-container{

        width: 70vw;
        display: block;

    }

    .logo-slogan{

        padding: 4px 10px;

        font-size: 1.25em;
        font-weight: 400;

        color: var(--structure-accent);
        background-color: var(--structure-text);

        border-radius: 10px;

    }

    h1 {

        margin-top: 1em;
        font-size: 2em;

        text-decoration: underline;

        color: var(--content-title-1);

    }

    h2{

        margin-top: 0.75em;
        font-size: 1.75em;

        text-decoration: underline;

        color: var(--content-title-2);

    }

    h3{

        margin-top: 0.5em;
        font-size: 1.5em;


        color: var(--content-title-2);

    }

    h4{

        margin-top: 0.5em;
        font-size: 1.25em;

        text-decoration: underline;

        color: var(--content-title-3);

    }

    h5{

        margin-top: 0.5em;
        font-size: 1em;


        color: var(--content-title-3);

    }

}