@layer component {

    header {
        width: 100%;
        height: fit-content;

        padding: 15px 0px;

        display: flex;
        align-content: center;

        background-color: var(--structure-bg);
    }


}