@layer component {

    .logo {
        width: 30%;

        padding: 0px 30px;

        font-weight: 600;
        font-size: 3em;
        color: var(--structure-title);

        
    }

    .logo span{

        color: var(--structure-accent);
    }

}