@layer component {

    nav {
        width: 30%;

        padding: 10px 30px;
        margin-right: auto;

        display: flex;
        justify-content: space-between;

        background-color: var(--structure-bg);
    }

    nav .nav-item{
        height: 100%;
        flex: 1;

        padding: 0px 10px;
        margin: 0 2px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--structure-accent);
        border-left: solid 1px var(--structure-text);
        border-right: solid 1px var(--structure-text);

        transition: all 0.5s ease-in-out;
    }

    nav .nav-item:hover{
        transform: scale(1.03);
        color: var(--structure-accent);
        background-color: var(--structure-text);

        transition: all 0.5s ease-in-out;
    }

    nav .nav-item a{
        color: inherit;
    }

}