@layer component{

    footer {

        width: 100%;
        min-height: 80px;

        margin-top: auto;
        padding: 20px 50px;

        display: flex;
        flex-flow: column;align-items: center;

        color: var(--structure-title);
        background-color: var(--structure-bg);
    }

    footer a{
        
        color: var(--structure-accent);
        font-weight: bold;
        
    }

    footer p{

        margin: 5px 0;

    }

}